@model List<Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   @foreach (var student in Model)
    {
        <h3>@student.Id</h3>
        <h2>@student.Name</h2>
        <h3>@student.City</h3>
        <hr />
    }
   
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
